<!-- Image Template -->
<div class="note-title-section">
    <h1 class="note-title"><%= title %></h1>
    <input type="text" value="<%= title %>" class="note-title-edit" placeholder="Want a title? "/>
</div>
<div class="note-text-section">
<div class="note-image">
<img src="./api/image/<%=imageId%>" />
</div>
    <p class="note-text">
    <%= text %>
    </p>
    <textarea type="text" placeholder="What would you like to save?" class="note-text-edit"><%= text %></textarea>
</div>